:root {
    --textColor: #4d4d4d;
    --themColor: #4181e1;
    --hoverColor: #5997f3;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--textColor);
    font-size: 16px;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
}

.title h1 {
    color: var(--themColor);
}

.title h2,
.title p {
    text-align: center;
}

.title h2 {
    margin-top: 1.5em;
    font-size: 2.4rem;
}

.title P {
    font-size: 1.2rem;
}

.uploadForm {
    text-align: center;
}

.uploadForm input[type="file"] {
    display: none;
}

.uploadForm .uploadBtn {
    height: 50px;
    padding: 5px 15px;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background: var(--themColor);
}

.uploadForm .uploadBtn:hover {
    background-color: var(--hoverColor);
}

.fileName {
    padding: 20px 0;
}

.error {
    padding: 20px 0;
    color: rgb(255, 81, 0);
}
